<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>

    </style>
</head>
<body>
<div class="w3-container w3-teal w3-padding-16">
    <h1 class="w3-center w3-xxlarge">Equipo:</h1>
</div>

<div class="w3-container w3-padding-32">

    <div class="w3-section w3-third">


    </div>
    <form th:action="@{|/registracion-equipo-padel|}"
          method="get"
          enctype="application/x-www-form-urlencoded"
          class="w3-container w3-card-4  w3-text-blue w3-margin w3-third">

        <div class="w3-container  w3-padding-16">

            <div class="w3-col s12 m12 l12">

                <label class="w3-text-blue"><b>Nombre del equipo:</b></label>
                <!---->
                <input class="w3-input w3-border" type="text" name="nombre_equipo">

                <label class="w3-text-blue"><b>Nombre de usuario 1:</b></label>
                <!---->
                <input class="w3-input w3-border" type="text" name="usuario1">

                <label class="w3-text-blue"><b>Nombre de usuario 2:</b></label>

                <input class="w3-input w3-border" type="text" name="usuario2">

            </div>

        </div>
        <div class="w3-col s12 m12 l12">
            <button class="w3-button w3-blue w3-margin-top w3-margin-bottom" type="submit">Guardar equipo</button>
        </div>

    </form>

    <div class="w3-section w3-third">

    </div>

</div>


<div class="w3-container">
    <div class="w3-container w3-teal w3-padding-16 w3-margin-top">
        <h6 class="w3-center w3-xxlarge">Todos los derechos reservados</h6>
    </div>
</div>

</body>
</html>
